@charset "UTF-8";
.aside {
  position: relative;
}
.aside .menu {
  position: absolute;
  top: 2rem;
  left: 1.6rem;
}
.aside .operator {
  top: 2rem;
}
.aside .twitter {
  top: 5rem;
}
.aside .twitter a {
  color: #474359;
}
.aside .menu-btn {
  position: absolute;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.aside .menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #474359;
  transition: all 0.5s ease-in-out;
}
.aside .menu-btn__burger:before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #474359;
  transition: all 0.5s ease-in-out;
}
.aside .menu-btn__burger:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #474359;
  transition: all 0.5s ease-in-out;
}
.aside .menu-btn__burger.open {
  background: transparent;
}
.aside .menu-btn__burger.open:before {
  transform: rotate(45deg) translate(5px, 8px);
}
.aside .menu-btn__burger.open:after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.home {
  background: url(../img/top.jpg) no-repeat;
  background-size: cover;
  height: 80rem;
}
.home__title {
  position: relative;
  top: 8vh;
  left: 22vw;
}
.home__title__sub {
  margin-left: 17px;
  position: relative;
}
.home__title__sub:after {
  content: "PORTEARTHスイミー";
  font-size: 25%;
  position: absolute;
  top: 50px;
  left: 20px;
}
.home__title .maker-btn {
  width: 20rem;
  padding: 0.5rem 1.2rem;
  text-align: center;
  background: #F28E3D;
  border-radius: 0.6rem;
  color: #fff;
  font-weight: 100;
  margin-top: 1rem;
}
.home__heading {
  margin-bottom: 0;
}
.home__sub-heading {
  letter-spacing: 0.4em;
}

.right-btn {
  margin-top: 30rem;
  text-align: end;
}
.right-btn .btn {
  background: #fff;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  color: #474359;
  padding: 1.8rem;
  box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.right-btn__img {
  width: 4.5rem;
  position: relative;
  top: 1rem;
}

.feature__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.feature__item img {
  width: 80px;
}

.what {
  text-align: center;
}
.what__title {
  position: relative;
  width: 70%;
  -moz-text-align-last: left;
       text-align-last: left;
  margin: 0 auto;
}
.what__title::before {
  content: url("../img/bubble2.png");
  position: absolute;
  left: -15rem;
}
.what__title .what__lead {
  color: #F28E3D;
  text-align: left;
}
.what__title .what__heading {
  font-size: 3.8rem;
}
.what__subtitle {
  font-weight: bold;
}
.what__description {
  font-weight: bold;
  font-size: 1rem;
}
.what__description .fish {
  background: #C8E7E9;
  padding: 0.6rem 0.8rem;
  margin: 0 0.3rem;
  border-radius: 3rem;
}

.what__bottom {
  position: relative;
  margin-top: 3rem;
}
.what__bottom .what__img {
  width: 100%;
}
.what__bottom .what__link {
  background: #474359;
  color: #fff;
  border-radius: 2rem;
  padding: 1rem 5rem;
  position: absolute;
  left: calc(50% - 128px);
  top: 8%;
  display: flex;
  align-items: center;
}
.what__bottom .what__link::after {
  content: "";
  border-top: 1px solid #F28E3D;
  width: 3.5rem;
  /* 線の長さ */
  margin-left: 2rem;
}
.what__bottom .what__link::before {
  content: "";
  border-top: 1px solid #F28E3D;
  width: 1.2rem;
  /* 線の長さ */
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  position: relative;
  left: 32.1rem;
}

.benefit {
  background: #FCFAF7;
  margin-top: -5px;
}
.benefit .benefit-title__wrap {
  width: 80%;
  margin-left: 5vw;
  position: relative;
}
.benefit .benefit-title__wrap__lead {
  color: #F28E3D;
  font-size: 0.6rem;
  text-align: left;
}
.benefit .benefit-title__wrap__title {
  font-weight: 100;
  margin-bottom: 15px;
}
.benefit .benefit-title__wrap__description .secondary {
  color: #F28E3D;
}
.benefit .benefit-title__wrap__description__lead {
  font-size: 0.7rem;
  display: inline-block;
  margin-bottom: 11px;
  position: relative;
}
.benefit .benefit-title__wrap__description__lead::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 110px;
  height: 90px;
  background-image: url(../img/people.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -35px;
  right: -135px;
}

.benefit-bottom__wrap {
  margin-top: 3rem;
  display: flex;
}
.benefit-bottom__wrap .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.benefit-bottom__wrap .circles .maker-circle {
  position: relative;
  z-index: 1;
}
.benefit-bottom__wrap .circles .maker-circle img {
  width: 12rem;
}
.benefit-bottom__wrap .circles .maker-circle p {
  position: absolute;
  top: 4.5rem;
  left: 2.7rem;
}
.benefit-bottom__wrap .circles .dotted {
  text-align: center;
  font-size: 1.3rem;
  color: #F28E3D;
  position: relative;
  top: 2.4rem;
  margin: 0 -1.4rem;
  z-index: 0;
}
.benefit-bottom__wrap .circles .dotted img {
  width: 90%;
}
.benefit-bottom__wrap .circles .dotted p {
  margin-top: 1rem;
}
.benefit-bottom__wrap .circles .specialsit-circle {
  position: relative;
  text-align: center;
}
.benefit-bottom__wrap .circles .specialsit-circle p {
  font-size: 1rem;
  position: absolute;
  top: 5rem;
  left: 0.8rem;
}
.benefit-bottom__wrap .circles .specialsit-circle .font-normal {
  font-size: 1.5rem;
}
.benefit-bottom__wrap .circles .specialsit-circle img {
  width: 15rem;
}
.benefit-bottom__wrap .benefit-bottom__wrap__right {
  font-size: 1.3rem;
  padding: 5rem 4rem;
}

.subsidy .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.subsidy .container .subsidy__title img {
  width: 60rem;
  margin-left: 5vw;
}
.subsidy .container .subsidy__content {
  display: flex;
}
.subsidy .container .subsidy__content .circles {
  display: flex;
  align-items: center;
  position: relative;
}
.subsidy .container .subsidy__content .circles .maker-img {
  height: 14.8rem;
  position: relative;
  z-index: 1;
}
.subsidy .container .subsidy__content .circles .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  margin: 0 -3rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle {
  position: relative;
}
.subsidy .container .subsidy__content .circles .subsidy-circle p {
  font-size: 1rem;
  white-space: nowrap;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .subsidy-img {
  width: 27rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .project-manager {
  position: absolute;
  top: 1rem;
  left: 8rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .project-manager .gray-circle {
  position: absolute;
  width: 11rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .project-manager__content {
  text-align: center;
  width: 7rem;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .subsidy-team {
  position: absolute;
  top: 3.5rem;
  left: 3rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .subsidy-team .gray-circle {
  position: absolute;
  width: 11rem;
  top: 10rem;
  left: 5rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .subsidy-team__content {
  text-align: center;
  width: 7rem;
  position: absolute;
  top: 12rem;
  left: 7rem;
}
.subsidy .container .subsidy__content .circles .subsidy-circle .subsidy-team::before {
  content: "";
  background-image: url(../img/arrow.svg);
  background-size: cover;
  display: inline-block;
  z-index: 1;
  width: 1.6rem;
  height: 5.5rem;
  position: absolute;
  top: 6.3rem;
  left: 9.6rem;
}
.subsidy .container .subsidy__content .subsidy__text {
  font-size: 1.4rem;
  min-width: 32rem;
  padding: 5rem 4rem;
  margin-left: 6rem;
}
.subsidy .container .subsidy__content .subsidy__text p {
  min-width: 28.5rem;
}
.subsidy .container .subsidy__content .subsidy__text .subsidy__area {
  position: relative;
  min-width: 28.5rem;
}
.subsidy .container .subsidy__content .subsidy__text .subsidy__area .secondary {
  color: #F28E3D;
  text-align: center;
}
.subsidy .container .subsidy__content .subsidy__text .subsidy__area .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  width: 4.5rem;
}
.subsidy .container .subsidy__content .subsidy__text .subsidy__area .dotted__before {
  transform: rotate(45deg);
  position: absolute;
  top: 2rem;
  left: -1rem;
}
.subsidy .container .subsidy__content .subsidy__text .subsidy__area .dotted__after {
  transform: rotate(-45deg);
  position: absolute;
  top: 2rem;
  right: -1rem;
}

.funding {
  background: #FCFAF7;
  margin-top: -7px;
}
.funding .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.funding .container .funding__title img {
  width: 60rem;
  margin-left: 5vw;
}
.funding .container .funding__content {
  display: flex;
}
.funding .container .funding__content .circles {
  display: flex;
  align-items: center;
  position: relative;
}
.funding .container .funding__content .circles .maker-img {
  height: 14.8rem;
  position: relative;
}
.funding .container .funding__content .circles .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  margin: 0 -3rem;
}
.funding .container .funding__content .circles .funding-circle {
  position: relative;
}
.funding .container .funding__content .circles .funding-circle p {
  font-size: 1rem;
  white-space: nowrap;
}
.funding .container .funding__content .circles .funding-circle .funding-img {
  width: 28rem;
}
.funding .container .funding__content .circles .funding-circle .project-manager {
  position: absolute;
  top: 0.7rem;
  left: 8.8rem;
}
.funding .container .funding__content .circles .funding-circle .project-manager .gray-circle {
  position: absolute;
  width: 11rem;
}
.funding .container .funding__content .circles .funding-circle .project-manager__content {
  text-align: center;
  width: 7rem;
  position: absolute;
  top: 1.5rem;
  left: 2.3rem;
}
.funding .container .funding__content .circles .funding-circle .project-manager .arrow {
  position: relative;
  top: 8.5rem;
  left: 80px;
  width: 1.3rem;
  transform: rotate(-40deg);
  z-index: 1;
}
.funding .container .funding__content .circles .funding-circle .funding-team {
  position: absolute;
  top: 15px;
  left: 100px;
}
.funding .container .funding__content .circles .funding-circle .funding-team .gray-circle {
  position: absolute;
  width: 110px;
  top: 100px;
  left: 50px;
}
.funding .container .funding__content .circles .funding-circle .funding-team__content {
  text-align: center;
  width: 80px;
  position: absolute;
  top: 121px;
  left: 67px;
}
.funding .container .funding__content .circles .funding-circle .funding-team .arrow {
  position: relative;
  top: 12.5rem;
  left: 3.2rem;
  width: 1.5rem;
  transform: rotate(90deg);
  z-index: 1;
}
.funding .container .funding__content .circles .funding-circle .funding-information {
  position: absolute;
  top: 13px;
  left: -30px;
}
.funding .container .funding__content .circles .funding-circle .funding-information .gray-circle {
  position: absolute;
  width: 11rem;
  top: 10rem;
  left: 5rem;
}
.funding .container .funding__content .circles .funding-circle .funding-information__content {
  text-align: center;
  position: absolute;
  top: 12.1rem;
  left: 8.2rem;
}
.funding .container .funding__content .circles .funding-circle .funding-information__content img {
  width: 5rem;
}
.funding .container .funding__content .circles .funding-circle .funding-information .arrow {
  position: relative;
  top: 7.8rem;
  left: 13rem;
  width: 1.4rem;
  transform: rotate(40deg);
  z-index: 1;
}
.funding .container .funding__content .funding__text {
  font-size: 1.4rem;
  min-width: 32rem;
  padding: 5rem 4rem;
  margin-left: 6rem;
}
.funding .container .funding__content .funding__text p {
  min-width: 28.5rem;
}
.funding .container .funding__content .funding__text .funding__area {
  position: relative;
  min-width: 28.5rem;
}
.funding .container .funding__content .funding__text .funding__area .secondary {
  color: #F28E3D;
  text-align: center;
}
.funding .container .funding__content .funding__text .funding__area .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  width: 4.5rem;
}
.funding .container .funding__content .funding__text .funding__area .dotted__before {
  transform: rotate(45deg);
  position: absolute;
  top: 2rem;
  left: -1rem;
}
.funding .container .funding__content .funding__text .funding__area .dotted__after {
  transform: rotate(-45deg);
  position: absolute;
  top: 2rem;
  right: -1rem;
}

.spread .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.spread .container .spread__title img {
  width: 60rem;
  margin-left: 5vw;
}
.spread .container .spread__content {
  display: flex;
}
.spread .container .spread__content .circles {
  display: flex;
  align-items: center;
  position: relative;
}
.spread .container .spread__content .circles .maker-img {
  height: 14.8rem;
  position: relative;
}
.spread .container .spread__content .circles .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  margin: 0 -3rem;
}
.spread .container .spread__content .circles .spread-circle {
  position: relative;
}
.spread .container .spread__content .circles .spread-circle p {
  font-size: 1rem;
  white-space: nowrap;
}
.spread .container .spread__content .circles .spread-circle .spread-img {
  width: 30rem;
}
.spread .container .spread__content .circles .spread-circle .project-manager {
  position: absolute;
  top: 4rem;
  left: 17rem;
}
.spread .container .spread__content .circles .spread-circle .project-manager .gray-circle {
  position: absolute;
  width: 10rem;
}
.spread .container .spread__content .circles .spread-circle .project-manager__content {
  text-align: center;
  width: 7rem;
  position: absolute;
  top: 1rem;
  left: 1.7rem;
}
.spread .container .spread__content .circles .spread-circle .project-manager .arrow {
  position: relative;
  top: 8.5rem;
  left: 4.5rem;
  width: 1.5rem;
  z-index: 1;
}
.spread .container .spread__content .circles .spread-circle .spread-projection {
  position: absolute;
  top: 5.5rem;
  left: 12.8rem;
}
.spread .container .spread__content .circles .spread-circle .spread-projection .gray-circle {
  position: absolute;
  width: 9rem;
  top: 10rem;
  left: 5rem;
}
.spread .container .spread__content .circles .spread-circle .spread-projection__content {
  text-align: center;
  width: 8rem;
  position: absolute;
  top: 12rem;
  left: 5.5rem;
}
.spread .container .spread__content .circles .spread-circle .spread-projection__content img {
  width: 4rem;
}
.spread .container .spread__content .circles .spread-circle .spread-projection .arrow {
  position: relative;
  top: 6.2rem;
  left: 3.5rem;
  height: 9rem;
  width: 1.5rem;
  transform: rotate(37deg);
  z-index: 1;
}
.spread .container .spread__content .circles .spread-circle .spread-calculator {
  position: absolute;
  top: 8.3rem;
  left: 3rem;
}
.spread .container .spread__content .circles .spread-circle .spread-calculator .gray-circle {
  position: absolute;
  width: 9rem;
  top: 10rem;
  left: 5rem;
}
.spread .container .spread__content .circles .spread-circle .spread-calculator__content {
  text-align: center;
  position: absolute;
  top: 11.5rem;
  left: 6.7rem;
}
.spread .container .spread__content .circles .spread-circle .spread-calculator__content img {
  width: 3rem;
}
.spread .container .spread__content .circles .spread-circle .spread-calculator .arrow {
  position: relative;
  top: -0.5rem;
  left: 10rem;
  width: 1.5rem;
  height: 10rem;
  transform: rotate(60deg);
  z-index: 1;
}
.spread .container .spread__content .circles .spread-circle .spread-creative {
  position: absolute;
  top: 1.3rem;
  left: -3rem;
}
.spread .container .spread__content .circles .spread-circle .spread-creative .gray-circle {
  position: absolute;
  width: 9rem;
  top: 10rem;
  left: 5rem;
}
.spread .container .spread__content .circles .spread-circle .spread-creative__content {
  text-align: center;
  position: absolute;
  top: 11rem;
  left: 6.7rem;
}
.spread .container .spread__content .circles .spread-circle .spread-creative__content img {
  width: 4rem;
}
.spread .container .spread__content .circles .spread-circle .spread-creative .arrow {
  position: relative;
  top: 3.8rem;
  left: 18.8rem;
  width: 1.5rem;
  transform: rotate(95deg);
  z-index: 1;
}
.spread .container .spread__content .circles .spread-circle .spread-idea {
  position: absolute;
  top: -7rem;
  left: 2rem;
}
.spread .container .spread__content .circles .spread-circle .spread-idea .gray-circle {
  position: absolute;
  width: 9rem;
  top: 10rem;
  left: 5rem;
}
.spread .container .spread__content .circles .spread-circle .spread-idea__content {
  text-align: center;
  position: absolute;
  top: 11rem;
  left: 5rem;
}
.spread .container .spread__content .circles .spread-circle .spread-idea__content img {
  width: 4rem;
}
.spread .container .spread__content .circles .spread-circle .spread-idea .arrow {
  position: relative;
  top: 7rem;
  left: 12rem;
  width: 2rem;
  transform: rotate(40deg);
  z-index: 1;
}
.spread .container .spread__content .spread__text {
  font-size: 1.4rem;
  min-width: 32rem;
  padding: 5rem 4rem;
  margin-left: 6rem;
}
.spread .container .spread__content .spread__text .spread__area {
  position: relative;
}
.spread .container .spread__content .spread__text .spread__area .secondary {
  color: #F28E3D;
  text-align: center;
}
.spread .container .spread__content .spread__text .spread__area .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  width: 4.5rem;
}
.spread .container .spread__content .spread__text .spread__area .dotted__before {
  transform: rotate(45deg);
  position: absolute;
  top: 2rem;
  left: -1rem;
}
.spread .container .spread__content .spread__text .spread__area .dotted__after {
  transform: rotate(-45deg);
  position: absolute;
  top: 2rem;
  right: -1rem;
}

.challenge {
  background: #eee;
  margin-top: -7px;
}
.challenge .container {
  padding: 5rem;
}
.challenge .container .challenge__title {
  text-align: center;
  margin-bottom: 5rem;
}
.challenge .container .challenge__title .challenge__lead {
  font-size: 1.5rem;
  color: #F28E3D;
}
.challenge .container .challenge__title .challenge__heading {
  font-size: 4.5rem;
  margin-bottom: 0;
  margin-top: -1rem;
}
.challenge .container .challenge__title .challenge__subtitle {
  font-size: 2rem;
}
.challenge .container .challenge__title__area {
  display: inline-block;
  text-align: left;
}
.challenge .container .challenge__content {
  display: flex;
  justify-content: center;
}
.challenge .container .challenge__content p {
  font-size: 1.5rem;
}
.challenge .container .challenge__content p span {
  color: #F28E3D;
}
.challenge .container .challenge__content .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #F28E3D, #F28E3D 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  width: 27rem;
  background-image: linear-gradient(to right, #474359, #474359 5px, transparent 5px, transparent 8px);
  position: relative;
  top: 0.2rem;
  left: 9rem;
}
.challenge .container .challenge__content__group1 {
  margin-right: 9rem;
}
.challenge .container .challenge__content__group1 .main-img {
  width: 35rem;
}
.challenge .container .challenge__content__group1 .challenge__content__text {
  text-align: center;
  position: relative;
}
.challenge .container .challenge__content__group1 .challenge__content__text::before {
  content: "課題";
  letter-spacing: 4px;
  color: #fff;
  background-color: #F28E3D;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  position: relative;
  top: -3rem;
  left: -1rem;
}
.challenge .container .challenge__content__group1 .challenge__content__text::after {
  content: "01";
  position: relative;
  top: 0;
  left: -20rem;
  color: #fff;
  font-size: 4rem;
}
.challenge .container .challenge__content__group2 .main-img {
  height: 16.6rem;
  position: relative;
  left: calc(50% - 58px);
}
.challenge .container .challenge__content__group2 .challenge__content__text {
  left: 5.3rem;
  text-align: center;
  position: relative;
}
.challenge .container .challenge__content__group2 .challenge__content__text::before {
  content: "課題";
  letter-spacing: 4px;
  color: #fff;
  background-color: #F28E3D;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  position: relative;
  top: -3rem;
  left: -1rem;
}
.challenge .container .challenge__content__group2 .challenge__content__text::after {
  content: "02";
  position: relative;
  top: 0;
  left: -20rem;
  color: #fff;
  font-size: 4rem;
}
.challenge .container .challenge__content__group2 .challenge__content__text::after {
  left: -32rem;
}
.challenge .container .challenge__content__group2 .challenge__content__text {
  left: -1rem;
}
.challenge .container .challenge__content__text {
  font-size: 1.5rem;
  position: relative;
  top: 3rem;
  left: -6rem;
}

.compare .container {
  margin-top: 10%;
}
.compare .container .compare__heading {
  margin-bottom: 50px;
}
.compare .container .compare__heading .compare__lead {
  font-size: 15px;
  color: #F28E3D;
}
.compare .container .compare__heading .compare__title {
  font-weight: 100;
  font-size: 45px;
}
.compare .container .compare__heading .compare__subtitle {
  font-weight: 100;
  font-size: 2rem;
}
.compare .container .compare__heading__area {
  display: inline-block;
  text-align: left;
}
.compare .container .compare__content {
  display: flex;
  justify-content: center;
}
.compare .container .compare__content p {
  font-size: 1.5rem;
}
.compare .container .compare__content__draw {
  display: flex;
  align-items: center;
  margin-top: -10rem;
  margin-left: 4rem;
  position: relative;
}
.compare .container .compare__content__draw .dotted {
  width: 15rem;
  height: 0.2rem;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, #474359, #474359 5px, transparent 5px, transparent 8px);
  background-repeat: repeat-x;
  position: absolute;
  top: 16rem;
  left: 18rem;
}
.compare .container .compare__content__draw .dotted:nth-child(2) {
  transform: rotate(-35deg);
  transform-origin: 0px 0px;
  width: 13rem;
}
.compare .container .compare__content__draw .dotted:nth-child(3) {
  width: 11rem;
}
.compare .container .compare__content__draw .dotted:nth-child(4) {
  transform: rotate(35deg);
  transform-origin: 0px 0px;
  width: 13rem;
}
.compare .container .compare__content__draw__left img {
  height: 18rem;
}
.compare .container .compare__content__draw__right {
  margin-left: 10rem;
}
.compare .container .compare__content__draw__right img {
  display: block;
  margin: 0 auto;
  height: 11rem;
}

.congeniality {
  margin-top: 12rem;
  font-size: 1.8rem;
}
.congeniality img {
  width: 60rem;
}
.congeniality__list {
  display: flex;
  margin-top: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.congeniality__list .font-space {
  letter-spacing: 0.8em;
}
.congeniality__list a {
  flex: 1;
  background-color: #eee;
  text-align: center;
  padding: 3rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.congeniality__list a:hover {
  background-color: #474359;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.congeniality__list .active {
  background-color: #474359;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.congeniality .proper .true-false {
  display: flex;
  justify-content: space-around;
  margin-top: 3.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.congeniality .proper .true-false .true, .congeniality .proper .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.congeniality .proper .true-false .true__figure, .congeniality .proper .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.congeniality .proper .true-false .true .swimmy, .congeniality .proper .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.congeniality .proper .true-false .true p, .congeniality .proper .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}
.congeniality .stability .true-false {
  display: none;
  justify-content: space-around;
  margin-top: 3.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.congeniality .stability .true-false .true, .congeniality .stability .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.congeniality .stability .true-false .true__figure, .congeniality .stability .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.congeniality .stability .true-false .true .swimmy, .congeniality .stability .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.congeniality .stability .true-false .true p, .congeniality .stability .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}
.congeniality .versatility .true-false {
  display: none;
  justify-content: space-around;
  margin-top: 3.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.congeniality .versatility .true-false .true, .congeniality .versatility .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.congeniality .versatility .true-false .true__figure, .congeniality .versatility .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.congeniality .versatility .true-false .true .swimmy, .congeniality .versatility .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.congeniality .versatility .true-false .true p, .congeniality .versatility .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}

.howto {
  margin-top: 10rem;
  font-size: 1.8rem;
}
.howto img {
  width: 60rem;
}
.howto__list {
  display: flex;
  margin-top: 3rem;
}
.howto__list .font-space {
  letter-spacing: 0.8em;
}
.howto__list a {
  flex: 1;
  background-color: #eee;
  text-align: center;
  padding: 3rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.howto__list a:hover {
  background-color: #474359;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.howto__list .active {
  background-color: #474359;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.howto .flexibility .true-false {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-around;
  margin-top: 3.7rem;
}
.howto .flexibility .true-false .true, .howto .flexibility .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.howto .flexibility .true-false .true__figure, .howto .flexibility .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.howto .flexibility .true-false .true .swimmy, .howto .flexibility .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.howto .flexibility .true-false .true p, .howto .flexibility .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}
.howto .speed .true-false {
  display: none;
  justify-content: space-around;
  margin-top: 3.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.howto .speed .true-false .true, .howto .speed .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.howto .speed .true-false .true__figure, .howto .speed .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.howto .speed .true-false .true .swimmy, .howto .speed .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.howto .speed .true-false .true p, .howto .speed .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}
.howto .talent .true-false {
  display: none;
  justify-content: space-around;
  margin-top: 3.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.howto .talent .true-false .true, .howto .talent .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.howto .talent .true-false .true__figure, .howto .talent .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.howto .talent .true-false .true .swimmy, .howto .talent .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.howto .talent .true-false .true p, .howto .talent .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}
.howto .reasonable .true-false {
  display: none;
  justify-content: space-around;
  margin-top: 3.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.howto .reasonable .true-false .true, .howto .reasonable .true-false .false {
  display: grid;
  place-items: center;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  grid-template-rows: 12.5rem 12.5rem;
}
.howto .reasonable .true-false .true__figure, .howto .reasonable .true-false .false__figure {
  width: 25rem;
  grid-row: 1/3;
  grid-column: 1/4;
}
.howto .reasonable .true-false .true .swimmy, .howto .reasonable .true-false .false .swimmy {
  width: 10rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.howto .reasonable .true-false .true p, .howto .reasonable .true-false .false p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}

.table {
  margin-top: 9rem;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table table {
  border-collapse: collapse;
}
.table tr:not(:first-child):hover {
  background-color: #FBF5EE;
}
.table tr:not(:first-child):hover td:first-child {
  background: #F28E3D;
  color: #fff;
}
.table .portearth {
  background-color: #C8E7E9;
}
.table .individual {
  background-color: #ECEEBA;
}
.table .company {
  background-color: #E9CEC8;
}
.table th {
  padding: 1.6rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 24.8rem;
}
.table td {
  padding: 1.3rem;
  border: solid 1px #D1D1D1;
}
.table p {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: left;
}

.team-japan {
  margin-top: 12rem;
}
.team-japan__top {
  position: relative;
}
.team-japan__top .team-japan__bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-japan__top .men_women {
  width: 22.3%;
  position: absolute;
  top: -7rem;
  left: 20rem;
}
.team-japan__top .team-japan__title {
  position: relative;
  top: -8rem;
  left: 15rem;
}
@media (max-width: 87.4375em) {
  .team-japan__top .team-japan__title {
    position: relative;
    top: 0rem;
    left: -5rem;
  }
  .team-japan__top .team-japan__title p {
    font-size: 1.4rem;
  }
  .team-japan__top .team-japan__title h2 {
    font-size: 3rem;
  }
}
.team-japan__top .team-japan__title .line {
  position: absolute;
  top: -22rem;
  left: 54rem;
}
.team-japan__top .team-japan__title .line2 {
  position: absolute;
  top: -11rem;
  left: 54rem;
}
.team-japan__top .team-japan__title p {
  color: #fff;
  position: absolute;
  top: -29rem;
  left: 63rem;
}
.team-japan__top .team-japan__title h2 {
  color: #fff;
  font-weight: 100;
  position: absolute;
  top: -20.5rem;
  left: 63rem;
}

.team-japan__content {
  display: flex;
  justify-content: center;
}
.team-japan__content .baloon {
  margin-right: 10rem;
}
.team-japan__content .baloon img {
  height: 30rem;
}
.team-japan__content .chat img {
  height: 40rem;
}

.works__lead {
  color: #F28E3D;
}
.works__heading {
  font-size: 4rem;
}
.works__heading__area {
  display: flex;
  align-items: flex-end;
}
.works__heading__area div {
  margin-left: 3rem;
}
.works .works__company {
  margin-bottom: 20rem;
}
.works .works__company__area {
  position: relative;
}
.works .works__company__area .boundary {
  margin-top: 5rem;
}
.works .works__company__area h1 {
  background-color: #474359;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 100;
  display: inline-block;
  padding: 0.7rem;
  position: absolute;
  top: 20rem;
  left: 20rem;
}
.works .works__company__content {
  margin-top: 7rem;
}
.works .works__company__content .works__title {
  display: flex;
}
.works .works__company__content .works__title .logo {
  width: 17rem;
}
.works .works__company__content .works__title .social {
  width: 4rem;
  margin-left: 0.5rem;
}
.works .works__company__content .profile {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}
.works .works__company__content .profile__title h3 {
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
  border-left: 1.5px solid #000;
}
.works .works__company__content .profile__title p {
  font-size: 1.6rem;
  line-height: 3.3rem;
}
.works .works__company__content .profile__title p span {
  font-weight: bold;
}
.works .works__company__content .profile__img {
  margin-left: 10rem;
  text-align: center;
}
.works .works__company__content .profile__img .detail {
  font-size: 1.5rem;
  text-align: center;
  color: #C7A778;
  position: relative;
}
.works .works__company__content .profile__img .detail::before {
  content: url("../img/line_gold.png");
  position: absolute;
  top: 1.5rem;
  left: 3rem;
}
.works .works__company__content .profile__img .detail::after {
  content: url("../img/line_gold2.png");
  position: absolute;
  top: 1.5rem;
  right: 3rem;
}
.works .works__company__content .profile__img img {
  width: 100%;
  min-width: 40rem;
}
.works .works__company__content .profile__img .profile__text {
  font-size: 1rem;
}
.works .works__company__content .profile__story {
  width: 90rem;
}
.works .works__company__content .profile__story .profile__list {
  margin-top: 8rem;
}
.works .works__company__content .profile__story .profile__list h3 {
  font-size: 1.7rem;
}
.works .works__company__content .profile__story .profile__list h3::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-image: url(../img/gold.svg);
  background-size: contain;
  vertical-align: middle;
  margin-right: 2rem;
}
.works .works__company__content .profile__story .profile__list p {
  font-size: 1.3rem;
  line-height: 3rem;
}
.works .works__company__content .profile__story .profile__list p span {
  font-weight: bold;
}
.works .works__company__content .profile__story .profile__list__group1 {
  margin-bottom: 3rem;
}
.works .works__company__content .profile__story .profile__list__group1::before {
  content: "Q1";
  font-size: 3rem;
  color: #fff;
  position: relative;
  top: 4.8rem;
  left: 0.5rem;
}
.works .works__company__content .profile__story .profile__list__group2::before {
  content: "Q2";
  font-size: 3rem;
  color: #fff;
  position: relative;
  top: 4.8rem;
  left: 0.4rem;
}
.works .works__company__content .profile__story .profile__list__group3::before {
  content: "Q3";
  font-size: 3rem;
  color: #fff;
  position: relative;
  top: 4.8rem;
  left: 0.4rem;
}
.works .works__company__content .profile__story .profile__list__group4::before {
  content: "Q4";
  font-size: 3rem;
  color: #fff;
  position: relative;
  top: 4.8rem;
  left: 0.4rem;
}
.works .works__company__content .profile__story .profile__list__group5::before {
  content: "Q5";
  font-size: 3rem;
  color: #fff;
  position: relative;
  top: 4.8rem;
  left: 0.4rem;
}
.works .works__company__content .profile__story .profile__list__group6::before {
  content: "Q6";
  font-size: 3rem;
  color: #fff;
  position: relative;
  top: 4.8rem;
  left: 0.4rem;
}
.works .works__company__content .profile__story .profile__list .kuretake-middle {
  margin-top: 10rem;
  display: flex;
  position: relative;
}
.works .works__company__content .profile__story .profile__list .kuretake-middle .kuretake__img-right img {
  width: 50rem;
  height: 70rem;
  position: absolute;
  top: -20rem;
  right: -70rem;
  z-index: -1;
  transform: rotate(135deg);
}
.works .works__company__content .profile__story .profile__list .kuretake-middle__right {
  margin-left: 10rem;
}
.works .works__company__content .profile__story .profile__list .designsetta-middle {
  margin-top: 10rem;
  display: flex;
  position: relative;
}
.works .works__company__content .profile__story .profile__list .designsetta-middle .designsetta__img-right img {
  width: 50rem;
  height: 70rem;
  position: absolute;
  top: -20rem;
  right: -70rem;
  z-index: -1;
  transform: rotate(135deg);
}
.works .works__company__content .profile__story .profile__list .designsetta-middle__right {
  margin-left: 10rem;
}
.works .kuretake__img3 {
  text-align: right;
}
.works .plus__area {
  text-align: right;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.works .plus__area .plus {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #474359;
  margin-top: 1.1rem;
  margin-right: 2rem;
  margin-left: auto;
}
.works .plus__area .plus::after {
  content: "";
  width: 26px;
  height: 2px;
  background-color: #474359;
  transform: rotate(90deg);
  display: block;
}
.works .others {
  margin-top: 6rem;
  text-align: center;
}
.works .others__title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  position: relative;
}
.works .others__title::before {
  content: "";
  position: absolute;
  left: 35%;
  height: 2.5rem;
  width: 0;
  border: solid 1px #474359;
  transform: rotate(-45deg);
}
.works .others__title::after {
  content: "";
  position: absolute;
  right: 35%;
  height: 2.5rem;
  border: solid 1px #474359;
  transform: rotate(45deg);
}
.works .others__img {
  margin-bottom: 2rem;
}
.works .others__img img {
  width: 7rem;
}
.works .others__btn {
  position: relative;
  display: inline-block;
  padding: 1.6rem 8rem;
  background-color: #F28E3D;
  border-radius: 5rem;
  cursor: pointer;
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}
.works .others__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.works .others__btn:hover::before {
  opacity: 1;
}

.collaboration .collaboration__area {
  margin-top: -7px;
  background-color: #C8E7E9;
  height: 60rem;
}
.collaboration .container__area {
  text-align: center;
}
.collaboration__title {
  text-align: left;
  display: inline-block;
}
.collaboration__lead {
  color: #F28E3D;
}
.collaboration__img {
  margin-top: 5rem;
  text-align: center;
}
.collaboration__img img {
  width: 50%;
  min-width: 34rem;
  max-width: 43rem;
  position: relative;
  z-index: 1;
}
.collaboration .logo {
  margin-top: 18rem;
  text-align: center;
}
.collaboration .logo img {
  width: 40rem;
}
.collaboration .container {
  position: relative;
}
.collaboration .container .bg1 {
  width: 80rem;
  position: absolute;
  left: -20rem;
}
.collaboration__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 4rem 7rem;
  font-size: 1.4rem;
  align-items: center;
}
.collaboration__grid span {
  font-weight: bold;
}
.collaboration__grid .top-left {
  font-size: 2.4rem;
  font-weight: bold;
}
.collaboration__grid .bg2 {
  width: 20rem;
  position: absolute;
}
.collaboration__grid .middle-left img {
  width: 100%;
}
.collaboration__grid .bottom-right {
  font-size: 2.4rem;
  font-weight: bold;
}
.collaboration .boundary-fishes {
  width: 80%;
}
.collaboration .boundary-fishes::after {
  content: url(../img/fishes@2x.png);
  display: inline-block;
  width: 10rem;
  height: 10rem;
  position: relative;
  top: -30rem;
  left: 85%;
}
.collaboration h2 {
  text-align: center;
}

.qa {
  margin-bottom: 30rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.qa__lead {
  color: #F28E3D;
  font-size: 1.4rem;
}
.qa .question:not(:last-child) {
  margin-bottom: 0.5rem;
}
.qa .question .question__area {
  background-color: #eceeba;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.qa .question .question__area .question__text {
  padding: 1rem 2rem;
}
.qa .question .question__area .plus__area {
  cursor: pointer;
}
.qa .question .question__area .plus__area .plus {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #474359;
  margin-right: 2rem;
  position: relative;
  top: 2.2rem;
}
.qa .question .question__area .plus__area .plus::after {
  content: "";
  width: 26px;
  height: 2px;
  background-color: #474359;
  transform: rotate(90deg);
  display: block;
}
.qa .answer {
  font-size: 1.4rem;
  padding: 2rem;
  line-height: 1.5;
  display: none;
}

.footer {
  background-color: #81CDDC;
  margin-top: -7px;
  height: 30rem;
  position: relative;
}
.footer .btn {
  background: #C8E7E9;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.footer .swimmy-left {
  width: 7rem;
  position: relative;
  top: -20rem;
  left: 0;
}
.footer__content {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30rem;
  padding-top: 3rem;
}
.footer__content img {
  margin-top: 2rem;
  width: 30rem;
  margin-left: 4rem;
}
.footer__copyright {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 140px);
}
.footer a {
  position: relative;
  display: inline-block;
  padding: 1.6rem 8rem;
  background-color: #81CDDC;
  border-radius: 5rem;
  cursor: pointer;
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
  width: 37rem;
  color: #fff;
  border: solid 1px #fff;
}
.footer a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.footer a:hover::before {
  opacity: 1;
}
.footer a:first-child {
  margin-bottom: 1rem;
}
.footer .bottom {
  position: relative;
  top: -5rem;
  left: 10rem;
}
.footer .bottom .starfish {
  width: 10rem;
  position: relative;
  top: -5rem;
  left: 2rem;
}
.footer .bottom .shell {
  width: 10rem;
}
.footer-upper {
  position: relative;
  left: 10rem;
  top: -51rem;
}
.footer-upper .swimmy {
  width: 18rem;
}
.footer-upper .swimmy2 {
  width: 14rem;
}
.footer-upper .swimmy3 {
  width: 14rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  color: #474359;
  font-size: 1.6rem;
  letter-spacing: 0.12em;
  font-family: "游ゴシック", "ヒラギノ角ゴProN", "メイリオ", "MS Pゴシック", sans-serif;
}

h1, h2, h3 {
  white-space: nowrap;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1.5rem;
}

.boundary {
  width: 100%;
}

.container {
  padding: 3% 20%;
}/*# sourceMappingURL=main.css.map */