.challenge {
    background: #eee;
    margin-top: -7px;
    position: relative;

    &__img {
        position: absolute;
        right: 0;
        top: -12rem;

        img {
            @include breakpoint-up(medium) {
                display: none;
            }
        }
    }

    .container {
        padding: 5rem;

        @include breakpoint-down(small) {
            padding: 3% 2%;
        }
        
        .challenge__title {
            text-align: center;
            margin-bottom: 5rem;

            @include breakpoint-down(small) {
                margin-top: 5.3rem;
            }
            
            .challenge__lead {
                font-size: 1.5rem;
                color: $secondary-color;
            }
            .challenge__heading {
                font-size: 4.5rem;
                margin-bottom: 0;
                margin-top: -1rem;

                @include breakpoint-down(small) {
                    font-size: 3rem;
                }
            }
            .challenge__subtitle {
                font-size: 2rem;

                @include breakpoint-down(small) {
                    font-size: 1.3rem;
                    margin-top: 2rem;
                }
            }

            &__area {
                display: inline-block;
                text-align: left;
            }
        }
        
        .challenge__content {
            display: flex;
            justify-content: center;

            @include breakpoint-down(small) {
                flex-direction: column;
            }

            .challenge__main {
                @include breakpoint-down(small) {
                    margin: 1rem 0 2rem;

                    img {
                        width: 100%;
                    }
                }
            }

            p {
                font-size: 1.5rem;

                span {
                    color: $secondary-color;
                }
            }

            .dotted {
                @include dotted-line();
                width: 27rem;
                background-image: linear-gradient(
                    to left, $primary-color, $primary-color 5px, transparent 5px, transparent 8px);
                position: relative;
                top: 0.2rem;
                left: 9rem;

                @include breakpoint-down(small) {
                    width: 20rem;
                    left: 7rem;
                    top: -1.7vh;
                    display: inline-block;
                    // margin-left: auto;
                }
            }

            &__group1 {
                margin-right: 9rem;

                @include breakpoint-down(small) {
                    margin-right: 0;
                    margin-left: 2rem;
                }

                .challenge__theme {
                    display: flex;
                    align-items: flex-end;
                    
                    .challenge__subject {
                        background-color: $secondary-color;
                        width: 6rem;
                        height: 6rem;
                        color: #fff;
                        text-align: center;
                        font-weight: bold;
                        display: inline-block;
    
                        .subject {
                            font-size: 1.7rem;
                        }
                        .number {
                            font-size: 4rem;
                            margin-top: -1.5rem;
                        }
                        justify-content: center;
                    }

                    .challenge__text {
                        margin-left: 2rem;
                    }
                }

                .main-img {
                    width: 35rem;
                }

                // .challenge__content__text {
                //     @include challenge__box('01');
                //     &::after{
                //         @include breakpoint-down(small) {
                //             top: 1rem;
                //         }
                //     }

                //     @include breakpoint-down(small) {
                //         left: 3rem;
                //     }
                // }
            }

            &__group2 {
                margin-left: 2rem;

                .challenge__theme {
                    display: flex;
                    align-items: flex-end;
                    
                    .challenge__subject {
                        background-color: $secondary-color;
                        width: 6rem;
                        height: 6rem;
                        color: #fff;
                        text-align: center;
                        font-weight: bold;
                        display: inline-block;
    
                        .subject {
                            font-size: 1.7rem;
                        }
                        .number {
                            font-size: 4rem;
                            margin-top: -1.5rem;
                        }
                        justify-content: center;
                    }

                    .challenge__text {
                        margin-left: 2rem;
                    }
                }

                
                .main-img {
                    height: 16.6rem;
                    position: relative;

                    @include breakpoint-up(medium) {
                        left: calc(50% - 58px);
                    }
                }
                
                // .challenge__content__text {
                    // left: -1rem;

                    // @include challenge__box('02');
                    // &::after{
                    //     left: -32rem;

                    //     @include breakpoint-down(small) {
                    //         left: -13rem;
                    //         top: -8rem;
                    //     }
                    // }

                //     @include breakpoint-down(small) {
                //         left: 1.3rem;
                //     }
                // }

            }

            // &__text {
            //     font-size: 1.5rem;
            //     position: relative;
            //     top: 3rem;
            //     left: -6rem;
            // }
        }
    }
}