.collaboration {
    
    .collaboration__area {
        margin-top: -7px;
        background-color: #C8E7E9;
        height: 60rem;
    }

    .container__area {
        text-align: center;
    }

    &__title {
        text-align: left;
        display: inline-block;
    }

    &__lead {
        color: $secondary-color;
    }

    &__img {
        margin-top: 5rem;
        text-align: center;
        
        img {
            width: 50%;
            min-width: 34rem;
            max-width: 43rem;
            position: relative;
            z-index: 1;
        }
    }

    .logo {
        margin-top: 18rem;
        text-align: center;

        img {
            width: 40rem;
        }
    };
    
    .container {
        position: relative;

        .bg1 {
            width: 80rem;
            position: absolute;
            left: -20rem;
        }
        
    }

    &__grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        gap: 4rem 7rem;
        font-size: 1.4rem;
        align-items: center;

        span {
            font-weight: bold;
        }

        .top-left {
            font-size: 2.4rem;
            font-weight: bold;
        }

        .bg2 {
            width: 20rem;
            position: absolute;
        }

        .middle-left {

            img {
                width: 100%;
            };
        }

        .bottom-right {
            font-size: 2.4rem;
            font-weight: bold;
        }
    }

    .boundary-fishes {
        width: 80%;

        &::after {
            content: url(../img/fishes@2x.png);
            display: inline-block;
            width: 10rem;
            height: 10rem;
            position: relative;
            top: -30rem;
            left: 85%;
        }
    }

    h2 {
        text-align: center;
    }
}
