.collaboration {
    
    &__area {
        margin-top: -7px;
        background-color: #C8E7E9;
        height: 60rem;
    }

    .container__area {
        text-align: center;

        @include breakpoint-down(small) {
            text-align: left;
        }
    }

    &__subtitle {

        @include breakpoint-down(small) {
            white-space: normal;
            font-weight: bold;
        }
    }

    &__title {
        text-align: left;
        display: inline-block;
    }

    &__lead {
        color: $secondary-color;
    }

    &__head {
        @include breakpoint-down(small) {
            font-size: 3rem;
        }
    }

    &__content {
        
    }

    &__img {
        margin-top: 5rem;
        text-align: center;
        
        img {
            width: 50%;
            min-width: 34rem;
            max-width: 43rem;
            position: relative;
            z-index: 1;
        }
    }

    .logo {
        margin-top: 18rem;
        text-align: center;

        img {
            width: 40rem;

            @include breakpoint-down(small) {
                width: 90vw;
            }
        }
    };
    
    .container {
        position: relative;

        .bg1 {
            width: 80rem;
            position: absolute;
            left: -20rem;

            @include breakpoint-down(small) {
                width: 90vw;
                left: 0;
            }
        }
        
    }

    &__grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        gap: 4rem 7rem;
        font-size: 1.4rem;
        align-items: center;

        @include breakpoint-down(small) {
            display: block;
        }

        span {
            font-weight: bold;
        }

        .top-left {
            font-size: 2.4rem;
            font-weight: bold;

            @include breakpoint-down(small) {
                font-size: 1.7rem;
                text-align: center;
                font-weight: normal;
                margin-bottom: 2rem;
            }
        }

        .bg2 {
            width: 20rem;
            position: absolute;

            @include breakpoint-down(small) {
                display: none;
            }
        }

        .middle-left {

            img {
                width: 100%;
            };
        }

        .bottom-right {
            font-size: 2.4rem;
            font-weight: bold;
        }
    }

    .boundary-fishes {
        width: 80%;

        @include breakpoint-down(small) {
            width: 100vw;
        }

        img {
            width: 100%;
        }

        &::after {
            content: '';
            display: inline-block;
            background-image: url(../img/fishes@2x.png);
            background-size: cover;
            width: 10rem;
            height: 10rem;
            position: relative;
            top: -30rem;
            left: 85%;

            @include breakpoint-down(small) {
                width: 30vw;
                height: 12vh;
                top: -20vh;
                left: 70vw;
            }
        }
    }

    h2 {
        text-align: center;
    }
}
