.footer {
    background-color: #81CDDC;
    margin-top: -7px;
    height: 30rem;
    position: relative;

    .btn {
        background: #C8E7E9;
        border-bottom-right-radius: 3rem;
        border-top-right-radius: 3rem;
        padding: 1rem 1.5rem;
        box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, .2);
    }
    
    .swimmy-left {
        width: 7rem;
        position: relative;
        top: -20rem;
        left: 0;

        @include breakpoint-down(small) {
            top: -20vh;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 30rem;
        padding-top: 3rem;

        @include breakpoint-down(small) {
            display: none;
        }

        img {
            margin-top: 2rem;
            width: 30rem;
            margin-left: 4rem;
        }
    }

    &__copyright {
        text-align: center;
        color: #fff;
        font-size: 1.3rem;
        position: absolute;
        bottom: 2rem;
        left: calc(50% - 140px);
    }

    a {
        @include button(#81CDDC);
        width: 37rem;
        color: #fff;
        border: solid 1px #fff;

        &:first-child {
            margin-bottom: 1rem;
        }
    }

    .bottom {
        position: relative;
        top: -7rem;
        left: 10rem;

        @include breakpoint-down(small) {
            top: 5vh;
            left: 3vw;
        }

        .starfish {
            width: 10rem;
            position: relative;
            top: -5rem;
            left: 2rem;

            @include breakpoint-down(small) {
                width: 15vw;
            }
        }

        .shell {
            width: 10rem;

            @include breakpoint-down(small) {
                width: 15vw;
            }
        }
    }

    &-upper {
        position: relative;
        left: 10rem;
        top: -51rem;

        @include breakpoint-down(small) {
            top: -20vh;
            left: 0vw;
            width: 90vw;
        }

        .swimmy {
            width: 18rem;

            @include breakpoint-down(small) {
                width: 20vw;
            }
        }

        .swimmy2 {
            width: 14rem;

            @include breakpoint-down(small) {
                width: 20vw;
            }
        }

        .swimmy3 {
            width: 14rem;

            @include breakpoint-down(small) {
                width: 20vw;
                position: relative;
                top: 10vh;
                left: -20vw;
            }
        }
    }
}