// サイドメニュー
.aside {
    position: absolute;

    // @include breakpoint-down(small) {
    //     position: absolute;
    //     left: 90%;
    // }

    .menu {
        position: absolute;
        top: 2rem;
        left: 1.6rem;

        @include breakpoint-down(small) {
            // position: absolute;
            // top: 2rem;
            // right: 1rem;
        }
    }

    .twitter {
        top: 5rem;

        a {
            color: $primary-color;
        }

        @include breakpoint-down(small) {
            // position: absolute;
            // top: 2rem;
            // right: 1rem;
        }
    }


    .menu-btn {
        position: absolute;
        height: 2rem;
        width: 2.8rem;
        cursor: pointer;
        @include transition-ease;

        &__burger {
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: $primary-color;
            @include transition-ease;

            &:before {
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: $primary-color;
                @include transition-ease
            }

            &:after {
                content: '';
                position: absolute;
                top: 8px;
                width: 20px;
                height: 3px;
                background: $primary-color;
                @include transition-ease;
            }

            &.open {
                background: transparent;

                &:before {
                    transform: rotate(45deg) translate(5px, 8px);
                }

                &:after {
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }
    }

}

// トップページ
.home {
    background: url(../img/top.jpg) no-repeat;
    background-size: cover;
    height: 80rem;

    @include breakpoint-down(small) {
        height: 50rem;
        width: 100vw;
        object-position: 50% 100%;
    }

    &__title {
        position: relative;
        top: 8vh;
        left: 22vw;

        @include breakpoint-down(small) {
           top: 10vh;
           left: 8vw;
        }

        &__sub {
            margin-left: 17px;
            position: relative;

            @include breakpoint-down(small) {
                font-size: 2rem;
                position: absolute;
                top: 5.3rem;
                left: -1.4rem;
            }

            &:after {
                content: "PORTEARTHスイミー";
                font-size: 25%;
                position: absolute;
                top: 5rem;
                left: 2rem;

                @include breakpoint-down(small) {
                    top: -6rem;
                    left: 0rem;
                }
            }

        }
        

        .maker-btn {
            width: 20rem;
            padding: 0.5rem 1.2rem;
            text-align: center;
            background: $secondary-color;
            border-radius: 0.6rem;
            color: #fff;
            font-weight: 100;
            margin-top: 1rem;

            @include breakpoint-down(small) {
                margin-top: 2rem;
            }
        }
    }
    @include breakpoint-down(small) {
        
        &__subtitle {
            font-size: 2rem;
            margin-top: 3rem;
        }
    }

    &__heading {
        margin-bottom: 0;
    }
    &__sub-heading {
        letter-spacing: 0.4em;
    }
}


// ワーカー向けボタン
.right-btn {
    margin-top: 30rem;
    text-align: end;

    @include breakpoint-down(small) {
        margin-top: 10rem;
        text-align: center;
    }

    .btn {
        background: #fff;
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        color: $primary-color;
        padding: 1.8rem;
        box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, .2);

        @include breakpoint-down(small) {
            border-radius: 3rem;
        }
    }

    &__img {
        width: 4.5rem;
        position: relative;
        top: 1rem;
    }

}