// サイドメニュー
.aside {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    // gap: 4rem;
    // justify-content: center;
    // display: block;
    // position: absolute;
    // top: 2rem;
    // left: 1.6rem;
    
    
    @include breakpoint-down(small) {
        padding-top: 1rem;
        padding-right: 1rem;
        align-items: flex-end;
    }

    .menu {
        // display: block;
        // position: absolute;
        // top: 2rem;
        // left: 1.6rem;

        @include breakpoint-down(small) {
            // left: 0;
            // right: 0;
        }
    }

    .menu-text {
        font-size: 0.8rem;
        letter-spacing: 0.2px;
    }

    .menu-btn {
        position: relative;
        height: 2rem;
        width: 2.8rem;
        cursor: pointer;
        @include transition-ease;

        &__burger {
            position: relative;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: $primary-color;
            @include transition-ease;

            @include breakpoint-down(small) {

            }

            &:before {
                content: '';
                position: absolute;
                // top: -8px;
                width: 28px;
                height: 3px;
                background: $primary-color;
                @include transition-ease
            }

            &:after {
                content: '';
                position: absolute;
                top: 8px;
                width: 20px;
                height: 3px;
                background: $primary-color;
                @include transition-ease;
            }

            &.open {
                background: transparent;

                &:before {
                    transform: rotate(45deg) translate(0px, 5px);
                }

                &:after {
                    width: 28px;
                    transform: rotate(-45deg) translate(0px, -5px);
                }
            }
        }
    }

    .twitter {
        position: relative;
        top: 3rem;

        a {
            color: $primary-color;
        }

        @include breakpoint-down(small) {
            position: relative;
            top: 2rem;
            // right: 1rem;
        }
    }

}

// トップページ
.home {
    background-image: url(../img/top.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    height: 65rem;
    
    @include breakpoint-down(small) {
        background-position: 40% 0;
        height: 50rem;
    	background-size: cover;
    }
    // height: 50rem;
    // background: url(../img/top.jpg) no-repeat;
    // &__img {
        
    //     img {
    //         height: 80rem;
    //         // background-size: contain;
            
    //         @include breakpoint-down(small) {
    //             background-size: contain;
    //             background-position: right bottom; 
                
    //             height: 50rem;
    //             // width: 100vw;
    //             // object-position: 100% 100%;
    //         }
    //     }
    // }

    &__title {
        position: relative;
        top: 8vh;
        left: 22vw;

        @include breakpoint-down(small) {
           top: 0;
           left: 0;

           padding-top: 1vh;
           padding-left: 8vw;
        }

        &__sub {
            margin-left: 17px;
            position: relative;

            @include breakpoint-down(small) {
                font-size: 2rem;
                position: relative;
                top: 2rem;
                left: -34.5rem;
            }

            &:after {
                content: "PORTEARTHスイミー";
                font-size: 25%;
                position: absolute;
                top: 5rem;
                left: 2rem;

                @include breakpoint-down(small) {
                    top: -6rem;
                    left: 0rem;
                }
            }

        }
        

        .maker-btn {
            width: 20rem;
            padding: 0.5rem 1.2rem;
            text-align: center;
            background: $secondary-color;
            border-radius: 0.6rem;
            color: #fff;
            font-weight: 100;
            margin-top: 1rem;

            @include breakpoint-down(small) {
                margin-top: 2rem;
            }
        }
    }
    @include breakpoint-down(small) {
        
        &__subtitle {
            font-size: 2rem;
            margin-top: 3rem;
        }
    }

    &__heading {
        margin-bottom: 0;
    }
    &__sub-heading {
        letter-spacing: 0.4em;
        font-weight: bold;
    }
}


// ワーカー向けボタン
.right-btn {
    margin-top: 30rem;
    text-align: end;

    @include breakpoint-down(small) {
        margin-top: 10rem;
        text-align: center;
    }

    .btn {
        background: #fff;
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        color: $primary-color;
        padding: 1.8rem;
        box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, .2);

        @include breakpoint-down(small) {
            border-radius: 3rem;
        }
    }

    &__img {
        width: 4.5rem;
        position: relative;
        top: 1rem;
    }

}