.subsidy {
    margin: 50px 0;

    .subsidy__wrap {
        // position: relative;
        // width: 100%;
        
        .subsidy__heading img{
            width: 600px;
            position: relative;
            left: calc(50% - 300px);
        }
        
        .subsidy__content {
            display: flex;
            
            .circles {
                display: flex;
                position: relative;
                left: calc(50% - 450px);
                
                .maker-img {
                    height: 148px;
                    position: relative;
                    top: 45px;
                }
                
                .dotted {
                    @include dotted-line();
                    position: relative;
                    top: 120px;
                }
                
                .subsidy-circle {
                    position: relative;

                    p {
                        font-size: 11px;
                    }

                    // .arrow::before {
                    //     height: 40px;
                    //     position: relative;
                    //     top: 0px;
                    //     left: -139px;
                    //     z-index: 1;
                    // }
                    
                    .subsidy-img {
                        width: 250px;
                    }
                    
                    .project-manager {
                        position: absolute;
                        top: 10px;
                        left: 68px;
                        
                        .gray-circle {
                            position: absolute;
                            width: 110px;
                        }
                        
                        &__content {
                            text-align: center;
                            width: 70px;
                            position: absolute;
                            top: 15px;
                            left: 20px;
                        }
                    }
                    
                    .subsidy-team {
                        position: absolute;
                        top: 25px;
                        left: 17px;
                        
                        .gray-circle {
                            position: absolute;
                            width: 110px;
                            top: 100px;
                            left: 50px;
                        }
                        
                        &__content {
                            text-align: center;
                            width: 70px;
                            position: absolute;
                            top: 121px;
                            left: 71px;
                        }

                        &::before {
                            content: '';
                            background-image: url(img/arrow@2x.png);
                            background-size: contain;
                            // position: relative;
                            // top: 60px;
                            // left: 95px;
                            z-index: 1;
                            // display: inline-block;
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
            
            .subsidy__text {
                position: relative;
                font-size: 14px;
                width: 300px;
                margin: auto 20%;
                
                .subsidy__title {

                    .secondary {
                        color: $secondary-color;
                        text-align: center;
                    }
                    
                    .dotted__before {

                        &::before {
                            border-bottom: 2px dotted $secondary-color;
                            content: "";
                            position: absolute;
                            top: 20px;
                            left: -15px;
                            transform: rotate(45deg);
                            width: 45px;
                        }
                    }

                    .dotted__after {

                        &::after {
                            border-bottom: 2px dotted $secondary-color;
                            content: "";
                            position: absolute;
                            top: 20px;
                            right: 0;
                            transform: rotate(-45deg);
                            width: 45px;
                        }
                    }

                }
                
            }
        }
    }
}