.subsidy {
    
    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        
        .subsidy__title {

            img {
                width: 50vw;
                margin-left: 5vw;

                @include breakpoint-down(small) {
                    width: 90vw;
                    margin-left: 0;
                }
            }
        }
        
        .subsidy__content {
            display: flex;

            @include breakpoint-down(small) {
                flex-direction: column;
            }
            
            .circles {
                display: flex;
                align-items: center;
                position: relative;

                @include breakpoint-down(small) {
                    order: 2;
                    flex-direction: column;
                }
                
                .maker-img {
                    height: 14.8rem;
                    position: relative;
                    z-index: 1;
                }

                .dotted {
                    @include dotted-line;
                    margin: 0 -3rem;

                    @include breakpoint-down(small) {
                        transform: rotate(90deg);
                    }
                }
                
                .subsidy-circle {
                    position: relative;

                    @include breakpoint-down(small) {
                        margin-top: 4rem;
                    }

                    p {
                        font-size: 1rem;
                        white-space: nowrap;
                    }
                    
                    .subsidy-img {
                        width: 27rem;
                    }
                    
                    .project-manager {
                        position: absolute;
                        top: 1rem;
                        left: 8rem;
                        
                        .gray-circle {
                            position: absolute;
                            width: 11rem;
                        }
                        
                        &__content {
                            text-align: center;
                            width: 7rem;
                            position: absolute;
                            top: 1.5rem;
                            left: 2rem;
                        }
                    }
                    
                    .subsidy-team {
                        position: absolute;
                        top: 3.5rem;
                        left: 3rem;
                        
                        .gray-circle {
                            position: absolute;
                            width: 11rem;
                            top: 10rem;
                            left: 5rem;
                        }
                        
                        &__content {
                            text-align: center;
                            width: 7rem;
                            position: absolute;
                            top: 12rem;
                            left: 7rem;
                        }

                        &::before {
                            content: '';
                            background-image: url(../img/arrow.svg);
                            background-size: cover;
                            display: inline-block;
                            z-index: 1;
                            width: 1.6rem;
                            height: 5.5rem;
                            position: absolute;
                            top: 6.3rem;
                            left: 9.6rem;
                        }
                    }
                }
            }
            
            .subsidy__text {
                font-size: 1.4rem;
                min-width: 32rem;
                padding: 5rem 4rem;
                margin-left: 6rem;

                @include breakpoint-down(small) {
                    order: 1;
                    margin-left: 0;
                }

                p {
                    min-width: 28.5rem;
                }
                .subsidy__area {
                    position: relative;
                    min-width: 28.5rem;

                    .secondary {
                        color: $secondary-color;
                        text-align: center;
                    }

                    .dotted {
                        @include dotted-line();
                        width: 4.5rem;
                    }

                    .dotted__before {
                        transform:rotate(45deg);
                        position: absolute;
                        top: 2rem;
                        left: -1rem;
                    }

                    .dotted__after {
                        transform:rotate(-45deg);
                        position: absolute;
                        top: 2rem;
                        right: -1rem;
                    }
                    
                }
                
            }
        }
    }
}