.what {
    text-align: center;

    &__title {
        position: relative;
        width: 70%;
        text-align-last: left;
        margin: 0 auto;

        &::before {
            content: url('../img/bubble2.png');
            position: absolute;
            left: -15rem;
        }
        
        .what__lead {
            color: $secondary-color;
            text-align: left;
        }
        
        .what__heading {
            font-size: 3.8rem;
        }
    }

    &__subtitle {
        font-weight: bold;
    }

    &__description {
        font-weight: bold;
        font-size: 1rem;

        .fish {
            background: #C8E7E9;
            padding: 0.6rem 0.8rem;
            margin: 0 0.3rem;
            border-radius: 3rem;
        }
    }
}

.what {

    &__bottom {
        position: relative;
        margin-top: 3rem;

        .what__img {
            width: 100%;
        }

        .what__link {
            background: $primary-color;
            color: #fff;
            border-radius: 2rem;
            padding: 1rem 3rem; 
            position: absolute;
            left: calc(50% - 180px);
            top: 10%;

            display: flex;
            align-items: center; 


            &::after {
                content: '';
                border-top: 1px solid $secondary-color;
                width: 3.5rem; /* 線の長さ */
                margin-left: 2rem;
            }
            &::before {
                content: '';
                border-top: 1px solid $secondary-color;
                width: 1.2rem; /* 線の長さ */
                transform: rotate(45deg);
                transform-origin: 100% 100%;
                position: relative;
                left: 32.1rem;
            }

        }
    }

}