.what {
    text-align: center;

    @include breakpoint-down(small) {
        margin-top: 8rem;
    }

    &__title {
        position: relative;
        width: 70%;
        text-align-last: left;
        margin: 0 auto;

        @include breakpoint-down(small) {
            width: 100%;
            text-align: center;
            text-align-last: center;
        }

        &::before {
            content: url('../img/bubble2.png');
            position: absolute;
            left: -15rem;
        }
        
        .what__lead {
            color: $secondary-color;
            text-align: left;
        }
        
        .what__heading {
            font-size: 3.8rem;

            @include breakpoint-down(small) {
                font-size: 3rem;
            }
        }
    }

    &__subtitle {
        font-weight: bold;
    }

    &__description {
        font-weight: bold;
        font-size: 1rem;

        .fish {
            background: #C8E7E9;
            padding: 0.6rem 0.8rem;
            margin: 0 0.3rem;
            border-radius: 3rem;
        }
    }

    &__bottom {
        position: relative;
        margin-top: 3rem;

        .what__img {
            width: 100%;
        }

        .what__link {
            background: $primary-color;
            color: #fff;
            border-radius: 2rem;
            padding: 1rem 3rem; 
            position: absolute;
            left: calc(50% - 180px);
            top: 10%;
            display: flex;
            align-items: center; 

            @include breakpoint-down(small) {
                left: calc(50% - 147px);
            }

            &::after {
                content: '';
                border-top: 1px solid $secondary-color;
                width: 3.5rem;
                margin-left: 2rem;

                @include breakpoint-down(small) {
                    width: 1.8rem;
                    margin-left: 0.5rem;
                }
            }
            &::before {
                content: '';
                border-top: 1px solid $secondary-color;
                width: 1.2rem;
                transform: rotate(45deg);
                transform-origin: 100% 100%;
                position: relative;
                left: 32.1rem;

                @include breakpoint-down(small) {
                    left: 23.8rem;
                    width: 1rem;
                }
            }
        }
    }
}
