.works {

    &__lead {
        color: $secondary-color;
    }

    &__heading {
        font-size: 4rem;
    }

    &__heading__area {
        display: flex;
        align-items: flex-end;

        div {
            margin-left: 3rem;
        }
    }

    .works__company {
        margin-bottom: 20rem;

        &__area {
            position: relative;
    
            .boundary {
                margin-top: 5rem;

                @include breakpoint-down(small) {
                    margin-top: 0;
                }
            }
            
            h1 {
                background-color: $primary-color;
                color: #fff;
                font-size: 2.5rem;
                font-weight: 100;
                display: inline-block;
                padding: 0.7rem;
                position: absolute;
                top: 20rem;
                left: 20rem;

                // @include breakpoint-down(small) {
                //     top: 8rem;
                //     left: 1rem;
                // }
            }

            .kuretake__heading {
                @include breakpoint-down(small) {
                    top: 4vh;
                    left: 3vw;
                }
            }

            .setta-heading {
                @include breakpoint-down(small) {
                    top: 6.5vh;
                    left: 3vw;
                    font-size: 1.7rem;
                }
            }
        }
    
        &__content {
            margin-top: 7rem;
    
            .works__title {
                padding: 0 20%;
                display: flex;
                align-items: center;

                @include breakpoint-down(small) {
                    padding: 0 3%;
                    justify-content: space-between;
                }
                .logo {
                    width: 17rem;
                }
                .social {
                    width: 4rem;
                    margin-left: 0.5rem;
                }
            }
    
            .profile {
                margin-top: 6rem;
    
                &__title {
                    padding: 0 20%;

                    @include breakpoint-down(small) {
                        padding: 0 3%;
                    }
    
                    h3 {
                        font-size: 1.4rem;
                        padding-left: 2rem;
                        margin-bottom: 3rem;
                        border-left: 1.5px solid #000;

                        @include breakpoint-down(small) {
                            font-weight: bold;
                        }
                    }
    
                    p {
                        font-size: 1.5rem;
                        line-height: 3.3rem;

                        span {
                            font-weight: bold;
                        }
                    }
                }
    
    
                &__img {
                    margin-left: 10rem;
                    text-align: center;

                    @include breakpoint-down(small) {
                        margin-left: 0;
                    }
    
                    .detail {
                        font-size: 1.5rem;
                        text-align: center;
                        color: #C7A778;
                        position: relative;
    
                        &::before {
                            content: url('../img/line_gold.png');
                            position: absolute;
                            top: 1.5rem;
                            left: 3rem;
                        }
                        &::after {
                            content: url('../img/line_gold2.png');
                            position: absolute;
                            top: 1.5rem;
                            right: 3rem;
                        }
                    }
                    img {
                        width: 100%;
                        min-width: 40rem;

                        @include breakpoint-down(small) {
                            min-width: 30rem;
                        }
                    }

                    .profile__text {
                        font-size: 1rem;
                    }
                }
                
                .profile__list {
                    margin-top: 8rem;

                    @include breakpoint-down(small) {
                        margin-top: 2rem;
                    }

                    h3 {
                        font-size: 1.7rem;
                        @include breakpoint-down(small) {
                            font-size: 1.3rem;
                            font-weight: bold;
                            margin-bottom: 0;
                        }
                        
                        // &::before {
                        //     content: '';
                        //     display: inline-block;
                        //     width: 5rem;
                        //     height: 5rem;
                        //     background-image: url(../img/gold.svg);
                        //     background-size: contain;
                        //     margin-right: 2rem;

                        //     @include breakpoint-down(small) {
                        //         margin-right: 0.5rem;
                        //         vertical-align: middle;
                        //     }
                        // }

                    }
                    .profile-br {
                        display: flex;
                        align-items: center;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 5rem;
                            height: 5rem;
                            background-image: url(../img/gold.svg);
                            background-size: contain;
                            margin-right: 2rem;

                            @include breakpoint-down(small) {
                                margin-right: 0.5rem;
                                vertical-align: middle;
                            }
                        }
                    }
                    

                    p {
                        font-size: 1.3rem;
                        line-height: 3rem;

                        span {
                            font-weight: bold;
                        } 
                    }
                    
                    &__group1 {
                        margin-bottom: 3rem;

                        &::before {
                            content: 'Q1';
                            font-size: 3rem;
                            color: #fff;
                            position: relative;
                            top: 4.8rem;
                            left: 0.5rem;
                        }
                    }
                    &__group2 {

                        &::before {
                            content: 'Q2';
                            font-size: 3rem;
                            color: #fff;
                            position: relative;
                            top: 4.8rem;
                            left: 0.4rem;
                        }
                    }
                    &__group3 {

                        &::before {
                            content: 'Q3';
                            font-size: 3rem;
                            color: #fff;
                            position: relative;
                            top: 4.8rem;
                            left: 0.4rem;
                        }
                    }
                    &__group4 {

                        &::before {
                            content: 'Q4';
                            font-size: 3rem;
                            color: #fff;
                            position: relative;
                            top: 4.8rem;
                            left: 0.4rem;
                        }
                    }
                    &__group5 {

                        &::before {
                            content: 'Q5';
                            font-size: 3rem;
                            color: #fff;
                            position: relative;
                            top: 4.8rem;
                            left: 0.4rem;
                        }
                    }
                    &__group6 {

                        &::before {
                            content: 'Q6';
                            font-size: 3rem;
                            color: #fff;
                            position: relative;
                            top: 4.8rem;
                            left: 0.4rem;
                        }
                    }

                    .kuretake-top, .designsetta-top {
                        display: flex;
                        padding: 0 20%;

                        @include breakpoint-down(small) {
                            padding: 0 3%;
                            flex-direction: column;
                        }
                    }

                    .kuretake-middle, .designsetta-middle {
                        margin-top: 3rem;
                        display: flex;
                        position: relative;
                        align-items: center;
                        margin-right: 20%;

                        @include breakpoint-down(small) {
                            flex-direction: column;
                            margin-right: 0;
                            align-items: baseline;
                        }

                        .kuretake__img-left {

                            @include breakpoint-down(small) {
                                margin: 0 auto;
                            }

                            img {
                                min-width: 42rem;
                                width: 40vw;
                                max-width: 50vw;

                                @include breakpoint-down(small) {
                                    min-width: 94vw;
                                    width: 94vw;
                                }
                            }
                        }

                        .kuretake__img-bg {
                            img {
                                width: 50rem;
                                height: 70rem;
                                position: absolute;
                                top: -20rem;
                                right: -70rem;
                                z-index: -1;
                                transform: rotate(135deg);
                            }
                        }

                        .designsetta__img2 {
                            img {
                                width: 50rem;
                            }

                            @include breakpoint-down(small) {
                                margin: 0 auto;
                                img {
                                    width: 94vw;
                                }
                            }
                        }

                        &__right {
                            margin-left: 10rem;

                            @include breakpoint-down(small) {
                                margin: 0;
                                padding: 0 3%;
                            }
                        }
                    }

                    .kuretake-bottom, .designsetta-bottom {
                        padding: 0 20%;

                        @include breakpoint-down(small) {
                            padding: 0 3%;
                        }
                    }

                    
                    .designsetta__img-right {
                        img {
                            width: 50rem;
                            height: 70rem;
                            position: absolute;
                            top: -20rem;
                            right: -70rem;
                            z-index: -1;
                            transform: rotate(135deg);
                        }

                        @include breakpoint-down(small) {
                            display: none;
                        }
                    }
                    &__right {
                        margin-left: 10rem;
                    }
                }

                .expand-kuretake {
                    display: none;
                }
                .expand-designsetta {
                    display: none;
                }
            }
            
        }
    }

    .kuretake__img3, .designsetta__img3 {
        text-align: right;
        img {
            width: 60vw;
        }

        @include breakpoint-down(small) {
           text-align: center;
           img {
            width: 94vw;
           }
        }
    }

    .expand__areaK, .expand__areaD {
        display: flex;
        justify-content: flex-end;
        padding: 0 20%;
        
        .expand-btn {
            cursor: pointer;
            display: flex;
            
            .expand {
                display: block;
                width: 26px;
                height: 2px;
                background-color: $primary-color;
                margin-top: 1.1rem;
                margin-right: 2rem;
                
                &::after {
                    content: '';
                    width: 26px;
                    height: 2px;
                    background-color: $primary-color;
                    transform: rotate(90deg);
                    display: block;
                }
            }
        }
    }

    .close__areaK, .close__areaD {
        text-align: right;
        // display: flex;
        display: none;
        justify-content: flex-end;
        padding: 0 20%;

        .close-btn {
            cursor: pointer;
            display: flex;

            .close {
                display: block;
                width: 26px;
                height: 2px;
                background-color: $primary-color;
                margin-top: 1.1rem;
                margin-right: 2rem;
                margin-left: auto;
            }
        }
    }

    

    .others {
        margin-top: 6rem;
        text-align: center;

        &__title {
            width: 70%;
            font-size: 1.8rem;
            margin-bottom: 2rem;
            margin: 0 auto;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 15%;
                height: 2.5rem;
                width: 0;
                border: solid 1px $primary-color;
                transform: rotate(-45deg);

                @include breakpoint-down(medium) {
                    left: 2%;
                }
                // @include breakpoint-down(small) {
                //     left: 2%;
                // }
            }
            &::after {
                content: "";
                position: absolute;
                right: 15%;
                height: 2.5rem;
                border: solid 1px $primary-color;
                transform: rotate(45deg);

                @include breakpoint-down(medium) {
                    right: 2%;
                }
                // @include breakpoint-down(small) {
                //     right: 16vw;
                // }
            }
        }

        &__img {

            margin-bottom: 2rem;
            img {
                width: 7rem;
            }
        }

        &__btn {
            @include button();
        }
    };
}