@import 'config';
@import 'home';
@import 'feature';
@import 'what';
@import 'benefit';
@import 'subsidy';
@import 'funding';
@import 'spread';
@import 'challenge';
@import 'compare';
@import 'congeniality';
@import 'howto';
@import 'table';
@import 'team-japan';
@import 'works';
@import 'collaboration';
@import 'qa';
@import 'footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}

body {
    color: $primary-color;
    font-size: 1.6rem;
    letter-spacing: 0.12em;
    font-family: "游ゴシック", "ヒラギノ角ゴProN", "メイリオ", "MS Pゴシック", sans-serif;

    @include breakpoint-down(small) {
        font-size: 1.3rem;
    }
}

h1, h2, h3 {
    white-space: nowrap;
    font-weight: normal;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;

    @include breakpoint-down(small) {
        font-size: 2rem;
    }
}

h3 {
    margin-bottom: 1.5rem;

    @include breakpoint-down(small) {
        font-size: 1.5rem;
    }
}

.boundary {
    width: 100%;
}

.container {
    padding: 3% 20%;

    @include breakpoint-down(small) {
        padding: 3% 2%;
    }
}

@include breakpoint-up(medium) {
    .br-sp {
        display: none; 
    }

    .none-pc {
        display: none;
    }
}

@include breakpoint-down(small) {
    .none-sp {
        display: none;
    }
}