@import 'config';
@import 'menu';
@import 'home';
@import 'feature';
@import 'what';
@import 'benefit';
@import 'subsidy';
@import 'funding';
@import 'spread';
@import 'challenge';
@import 'compare';
@import 'congeniality';
@import 'howto';
@import 'table';
@import 'team-japan';
@import 'works';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
    color: $primary-color;
}

body {
    color: $primary-color;
}

.boundary {
    width: 100%;
}

.container {
    padding: 0 20%;
}